body {
    font-size: 14px;
    font-family: sans-serif;
    min-width: 1000px;
    padding: 5px;
}

div.header {
    display: block;
    padding-bottom: 15px;
}

div.header > button {
    width: 100px;
    margin-left: 2px;
    margin-right: 2px;
}

div.header > input {
    width: 160px;
}

div.header > input.small {
    width: 50px;
}

div.divider {
    display: inline-block;
    width: 20px;
}

div.markdown {
    text-align: left;
    width: 500px;
    overflow: scroll;
    border: 1px solid lightgray;
}

td {
     vertical-align: top;
     text-align: left;
}

td.align-right {
    !important;
    vertical-align: top;
    text-align: right;
}