body {
    font-size: 14px;
    font-family: sans-serif;
    min-width: 1400px;
    padding: 5px;
}

div.header {
    display: block;
    padding-bottom: 15px;
}

div.header > button {
    width: 100px;
    margin-left: 2px;
    margin-right: 2px;
}

div.header > input {
    width: 160px;
}

div.header > input.small {
    width: 50px;
}

div.divider {
    display: inline-block;
    width: 20px;
}

div.header-label {
    display: inline-block;
    font-weight: bold;
}

div.header-label > span {
    font-weight: normal;
}

div.markdown {
    text-align: left;
    width: 500px;
    overflow: scroll;
    border: 1px solid lightgray;
}

div.license {
    display: block;
    text-align: center;
    width: 100%;
    font-size: 10px;
    padding-top: 5px;
}

td {
     vertical-align: top;
     text-align: right;
}
