body {
    font-size: 14px;
    font-family: sans-serif;
    min-width: 850px;
}

div.header {
    display: block;
    padding-bottom: 15px;
}

div.header > button {
    width: 100px;
    margin-left: 2px;
    margin-right: 2px;
}

div.header > input {
    width: 160px;
}

div.header > input.small {
    width: 50px;
}

div.divider {
    display: inline-block;
    width: 20px;
}

div.markdown {
    display: inline-block;
    width: 500px;
    overflow: scroll;
    border: 1px solid lightgray;
    float: left;
    margin-left: 5px;
    margin-right: 10px;
}

div.post_list {
    display: inline-block;
    width: 300px;
    float: left;
    margin-left: 10px;
    margin-right: 5px;
}

svg {
    margin-top: 10px;
}

td {
    text-align: right;
}